@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>@ViewBag.Title | Sign In</title>

    <!--                       CSS                       -->

    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/SuperAdmin/Content/reset.css")" type="text/css" media="screen" />

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/SuperAdmin/Content/style.css")" type="text/css" media="screen" />

    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/SuperAdmin/Content/invalid.css")" type="text/css" media="screen" />

    <!-- Colour Schemes
	  
		Default colour scheme is green. Uncomment prefered stylesheet to use it.
		
		<link rel="stylesheet" href="@Url.Content("~/Areas/SuperAdmin/Content/blue.css")" type="text/css" media="screen" />
		
		<link rel="stylesheet" href="~/Areas/SuperAdmin/Content/red.css" type="text/css" media="screen" />  
	 
		-->

    <!-- Internet Explorer Fixes Stylesheet -->

    <!--[if lte IE 7]>
			<link rel="stylesheet" href="@Url.Content("~/Areas/SuperAdmin/Content/ie.css")" type="text/css" media="screen" />
		<![endif]-->

    <!--                       Javascripts                       -->

    <!-- jQuery -->
    <script src="@Url.Content("~/Scripts/jquery.js?V=1.7.1")" type="text/javascript"></script>

    <!-- jQuery Configuration -->
    <script type="text/javascript" src="@Url.Content("~/Areas/SuperAdmin/Scripts/simpla.jquery.configuration.js")"></script>

    <!-- Facebox jQuery Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Areas/SuperAdmin/Scripts/facebox.js")"></script>

    <!-- jQuery WYSIWYG Plugin -->
    <script type="text/javascript" src="@Url.Content("~/Areas/SuperAdmin/Scripts/jquery.wysiwyg.js")"></script>

    <!-- Internet Explorer .png-fix -->

    <!--[if IE 6]>
			<script type="text/javascript" src="@Url.Content("~/Areas/SuperAdmin/Scripts/DD_belatedPNG_0.0.7a.js")"></script>
			<script type="text/javascript">
				DD_belatedPNG.fix('.png_bg, img, li');
			</script>
		<![endif]-->
</head>
<body id="login">

    <div id="login-wrapper" class="png_bg">
        <div id="login-top">

            <h1>@ViewBag.Title</h1>
            <!-- Logo (221px width) -->
            <img id="logo" src="@Url.Content("~/Content/Base/Images/logo.png")" alt="@ViewBag.Title" />
        </div>
        <!-- End #logn-top -->

        <div id="login-content">
            <form id="form1">

                <div class="notification information png_bg">
                    <div>
                        @ViewBag.Title, Please Sign in!
                    </div>
                </div>

                <p>
                    <label>Username</label>
                    <input class="text-input" id="LoginName" name="LoginName" type="text" />
                </p>
                <div class="clear"></div>
                <p>
                    <label>Password</label>
                    <input class="text-input" id="Password" name="Password" type="password" />
                </p>
                <div class="clear"></div>
                <!--
					<p id="remember-password">
						<input type="checkbox" id="RememberMe" name="RememberMe" value="1" />Remember me
					</p>
                    -->
                <div class="clear"></div>
                <p>
                    <input id="submitbtn" class="button" type="button" value="Sign In" />
                </p>

            </form>
        </div>
        <!-- End #login-content -->

    </div>
    <!-- End #login-wrapper -->

    <script type="text/javascript">
        $(function () {
            $("#Password").keydown(function (event) {
                if (event.keyCode == "13") {
                    $("#submitbtn").click();
                }
            });

            $("#submitbtn").click(function () {
                var fields = $("form").serializeArray();
                $.ajax({
                    type: "POST",
                    url: "/SuperAdmin/Login/Login",
                    dataType: "text",
                    data: fields,
                    error: function () {
                        alert("error");
                    },
                    success: function (msg) {
                        if (msg == "1")
                            window.location.href = "/SuperAdmin";
                        else
                            alert("帳戶或密碼不正確!");

                    }
                });
            });
        });
    </script>
</body>
</html>
