@model IList<MVCBase.Domain.Entity.ID_DContentData>
@{
    ViewBag.Title = "Index";
}
@section head{
    <link href="@Url.Content("~/Content/designerlist.css")" rel="stylesheet" />
}

<style type="text/css"> 
    /*************** Pagination ***************/
#main-content .pagination {
                text-align: center;
                padding: 20px 0 5px 0;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10px;
                }
.pagination a {
                margin: 0 5px 0 0;
                padding: 3px 4px;
                text-decoration: none;
                color: #444;
                }

.pagination a.number {
                text-decoration: none;
                }

.pagination a.current {
                color: #E53C55 !important;
                }
				
.pagination a.current:hover {
				text-decoration: underline;
                }
</style>

<div id="designerbar" class="clearfix">
    <div id="topselect"><span id="sheet_popular" class="sheetfocus">人氣設計師</span><span id="sheet_star">新星設計師</span><span id="sheet_choose">嚴選設計師</span></div>
    <div id="functionselect">
        <div class="selectitem"><label>房屋類型</label>
            <select name="housetype" id="housetype">
				<option value="0">不拘</option>
                @foreach (var item in ViewBag.housetype)
                {
                    <option value="@(item.Ht_Id)">@item.Ht_name</option>
                }
			</select>
        </div>
        <div class="selectitem"><label>設計型式</label>
            <select name="designtype" id="designtype">
				<option value="0">不拘</option>
                @foreach (var item in ViewBag.designtype)
                {
                    <option value="@(item.Dt_Id)">@item.Dt_name</option>
                }
			</select>
        </div>
        <div class="selectitem">
            <label>設計風格</label>
            <select name="designstyletype" id="designstyletype">
				<option value="0">不拘</option>
                @foreach (var item in ViewBag.designstyletype)
                {
                    <option value="@(item.St_Id)">@item.St_name</option>
                }
			</select>

        </div>

    </div>
</div>
<div id="designerlist" class="clearfix">
    @foreach (var item in Model)
    {
        string imgsrc = "defaultimg";
        if (item.Dc_ImageUrl != null)
        {
            string[] tempimgs = item.Dc_ImageUrl.Split(',');
            if (tempimgs.Length > 0)
            {
                imgsrc = tempimgs[0];
            }
        }

        <div class="designeritem"><a href="@Url.Action("index", "designer", new { id = @item.Dc_Id })">
            <div class="imgshow"><img src="@imgsrc" alt="@(item.Dc_company)" /></div>
            <div class="designername" style="background-color: @(item.Dc_color)">@item.Dc_name</div></a>
        </div>
    }

    <div class="clear"></div>
    <div class="pagination">@Html.Raw(ViewBag.pageinfo)</div>
</div>
<script src="@Url.Content("~/Scripts/jquery.CRselectBox.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#housetype").CRselectBox();
        $("#designtype").CRselectBox();
        $("#designstyletype").CRselectBox();
    });

</script>
