@model IList<MVCBase.Domain.Entity.ID_DContentData>
@{
    if (ViewBag.isindex != null)
    {
        ViewBag.Title = "室內設計,系統傢俱,商空設計,景觀設計-idesign台灣百大設計師網站";
    }
    else
    {
        ViewBag.Title = "idesign台灣百大設計師網站-室內設計,裝潢,設計裝潢,室內裝潢";
    }
}
@section head{
    <link href="@Url.Content("~/Content/designerlist.css")" rel="stylesheet" />
    @if (ViewBag.isindex != null)
    {
        <meta name="keywords" content="室內設計,裝潢,設計裝潢,室內裝潢,系統傢俱,商空設計,景觀設計,建築設計"/>
        <meta name="description" content="住商idesign設計師網站，匯集知名設計師進駐，提供您室內設計裝潢、系統傢俱、商空設計、景觀設計、建築設計、建材家俱，多款設計師作品，滿足您對室內設計、裝潢設計、居家裝修、店面裝潢工程的需求，是您首選的居家設計網站！" />
    }
    else
    {
        <meta name="description" content="住商idesign設計師網站，匯集知名設計師進駐，提供您室內設計裝潢、系統傢俱、商空設計、景觀設計、建築設計、建材家俱，多款設計師作品，滿足您對室內設計、裝潢設計、居家裝修、店面裝潢工程的需求，是您首選的居家設計網站！"/>
        <meta name="keywords" content="室內設計,裝潢,設計裝潢,室內裝潢,系統傢俱,商空設計,景觀設計,建築設計"/>
    }
}

<div id="designerbar" class="clearfix">
    <div id="topselect"><span id="sheet_popular">人氣設計師</span><span id="sheet_star">新星設計師</span><span id="sheet_choose">嚴選設計師</span></div>
    <div id="functionselect">
        <div class="selectitem"><label>房屋類型</label>
            <select name="housetype" id="housetype">
                <option value="0">不拘</option>
                @foreach (var item in ViewBag.housetype)
                {
                    if (ViewBag.query.Housetype == item.Ht_Id)
                    {
                        <option value="@(item.Ht_Id)" selected="selected">@item.Ht_name</option>
                    }
                    else
                    {
                        <option value="@(item.Ht_Id)">@item.Ht_name</option>
                    }
                }
            </select>
        </div>
        <div class="selectitem"><label>設計型式</label>
            <select name="designtype" id="designtype">
                <option value="0">不拘</option>
                @foreach (var item in ViewBag.designtype)
                {
                    if (ViewBag.query.Designtype == item.Dt_Id)
                    {
                        <option value="@(item.Dt_Id)" selected="selected">@item.Dt_name</option>
                    }
                    else
                    {
                        <option value="@(item.Dt_Id)">@item.Dt_name</option>
                    }
                }
            </select>
        </div>
        <div class="selectitem">
            <label>設計風格</label>
            <select name="designstyletype" id="designstyletype">
                <option value="0">不拘</option>
                @foreach (var item in ViewBag.designstyletype)
                {
                    if (ViewBag.query.Designstyletype == item.St_Id)
                    {
                        <option value="@(item.St_Id)" selected="selected">@item.St_name</option>
                    }
                    else
                    {
                        <option value="@(item.St_Id)">@item.St_name</option>
                    }
                }
            </select>

        </div>

    </div>
    <div class="clear"></div>
</div>
<div id="designerlist" class="clearfix">
    @foreach (var item in Model)
    {
        string imgsrc = "defaultimg";
        if (item.Dc_ImageUrl != null)
        {
            string[] tempimgs = item.Dc_ImageUrl.Split(',');
            if (tempimgs.Length > 0)
            {
                imgsrc = tempimgs[0];
            }
        }

        <div class="designeritem"><a href="@Url.Action("index", "designer", new { id = @item.Dc_Id })">
                                      <div class="imgshow bwWrapper"><img src="@imgsrc" alt="@(item.Dc_company)" /></div>
                                      <div class="designername" style="background-color: @(item.Dc_color)">@item.Dc_company</div></a>
        </div>
    }

    <div class="clear"></div>
    <div class="pagination">@Html.Raw(ViewBag.pageinfo)</div>
</div>
<script src="@Url.Content("~/Scripts/jQuery.BlackAndWhite.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.CRselectBox.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.bwWrapper').BlackAndWhite({
            hoverEffect: true,            webworkerPath: 'js/',            invertHoverEffect: true
        });
    });

    $(function () {
        $("#menu_designer").addClass("focus");

        $("#housetype").CRselectBox();
        $("#designtype").CRselectBox();
        $("#designstyletype").CRselectBox();

        $("#sheet_@(ViewBag.query.DeesignerType)").addClass("sheetfocus");

        $("#sheet_popular").click(function() {
            window.location.href = "/designer/list/popular/1";
        });
        $("#sheet_star").click(function () {
            window.location.href = "/designer/list/star/1";
        });
        $("#sheet_choose").click(function () {
            window.location.href = "/designer/list/choose/1";
        });
    });

    function relocation() {
        var focusid = $(".sheetfocus").attr("id").replace("sheet_", "");
        var paramarray = new Array();
        if ($("#housetype").val() != "0") {
            paramarray.push("housetype=" + $("#housetype").val());
        }
        if ($("#designtype").val() != "0") {
            paramarray.push("designtype=" + $("#designtype").val());
        }
        if ($("#designstyletype").val() != "0") {
            paramarray.push("designstyletype=" + $("#designstyletype").val());
        }
        var url = paramarray.join('&');
        window.location.href = "/designer/list/" + focusid + "/1/?" + url;
    }

</script>
