@model MVCBase.Domain.Entity.Ba_News
@{
    ViewBag.Title = Model.Ns_Title + " -idesign台灣百大設計師網站";
}
@section head{
    <link href="@Url.Content("~/Content/newsdetail.css")" rel="stylesheet" />
    <meta name="keywords" content="室內設計,裝潢,設計裝潢,室內裝潢,系統傢俱,商空設計,景觀設計,建築設計"/>
    <meta name="description" content="住商idesign設計師網站，匯集知名設計師進駐，提供您室內設計裝潢、系統傢俱、商空設計、景觀設計、建築設計、建材家俱，多款設計師作品，滿足您對室內設計、裝潢設計、居家裝修、店面裝潢工程的需求，是您首選的居家設計網站！"/>
}
<div id="newsdetail" class="clearfix">
    <div id="detail_left">
        @{
            foreach (var newstype in ViewBag.newstype)
            {
                if (newstype.Nt_ID == Model.Ns_Type)
                {
                    <div class="typebase focus">@newstype.Nt_TypeName</div>
                }
                else
                {
                    <div class="typebase">@newstype.Nt_TypeName</div>
                }
            }
        }
    </div>
    <div id="detail_mid">
        <div class="title">@Model.Ns_Title</div>
        <div class="content">@Html.Raw(Model.Ns_Content)</div>
    </div>

    <div id="detail_right">
        @{
            var imgpaths = Model.Ns_ImagePath.Split(',');
            for (int i = 0; i < imgpaths.Length; i++)
            {
                <div class="imgshow"><a rel="example_group" href="@imgpaths[i].Replace("thumb","")" title=""><img src="@imgpaths[i].Replace("thumb","")" alt=""/></a></div>
            }
        }
    </div>
    <div class="clear"></div>
</div>
<div class="ft"></div>

<script type="text/javascript" src="/Scripts/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="/Scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/Scripts/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#menu_news").addClass("focus");
        $("a[rel=example_group]").fancybox({
            'transitionIn': 'none',
            'transitionOut': 'none',
            'titlePosition': 'over',
            'titleFormat': function (title, currentArray, currentIndex, currentOpts) {
                return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
            }
        });
    });

	</script>


