<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
    @RenderSection("head",false)
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <div class="link">住商不動產 | iHouse</div>
                <div id="logo"></div>
            </div>
            <div id="menubar">
                <ul id="menu">
                    <li id="menu_designer" class="menuitem"><a href="/designer/list/popular/1"></a></li>
                    <li class="menudot"></li>
                    <li id="menu_furniture" class="menuitem"><a href="/furniture/list/knowalls/1"></a></li>
                    <li class="menudot"></li>
                    <li id="menu_calculate" class="menuitem"><a href=""></a></li>
                    <li class="menudot"></li>
                    <li id="menu_news" class="menuitem"><a href="/news/list/1/1"></a></li>
                </ul>
            </div>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
