<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
    @RenderSection("head",false)
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <div class="link"><a href="http://www.hbhousing.com.tw/">住商不動產</a> | <a href="http://ihouse.hbhousing.com.tw/">iHouse</a></div>
                <div id="logo"></div>
            </div>
            <div id="menubar">
                <ul id="menu">
                    <li id="menu_designer" class="menuitem"><a href="/designer"></a></li>
                    <li class="menudot"></li>
                    <li id="menu_furniture" class="menuitem"><a href="/furniture"></a></li>
                    <li class="menudot"></li>
                    <li id="menu_calculate" class="menuitem"><a href="http://ihouse.hbhousing.com.tw/patch/?file=budget_index"></a></li>
                    <li class="menudot"></li>
                    <li id="menu_news" class="menuitem"><a href="/news"></a></li>
                </ul>
            </div>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
            <div id="footer"><img src="/Content/Base/Images/Footer.gif" width="856" height="85" border="0" />
                <div class="email"><a href="mailto:hbservice@mail2.hbhousing.com.tw"></a></div>
                <div class="privacy"><a href="http://ihouse.hbhousing.com.tw/member/?file=Privacy"></a></div>
                <div class="intell"><a href="http://ihouse.hbhousing.com.tw/member/?file=IntellectualPropertyRights"></a></div>
            </div>
        </footer>
    </div>
</body>
</html>
